@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mogra&family=Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background:
    linear-gradient(rgba(40, 18, 10, 0.35), rgba(40, 18, 10, 0.35)),
    url("Picture/Solo2.png") center/cover no-repeat;
  color: var(--primary-color);
  font-family: "Inter", sans-serif;
  --primary-color: #c65a2e;
  --text-color: #f3d2a4;
  --menu-color: #646262;
}
.title {
  font-family: "Caveat Brush", cursive, sans-serif;
  color: #f3d2a4;
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
.menu-section {
  width: 90%;
  margin: 0 auto;
  padding: 4rem 1.5rem;
}

.menu-section p {
  text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
.menu-header {
  text-align: center;
  margin-bottom: 3rem;
}

.menu-header h1 {
  font-size: 3rem;
  font-family: "Caveat Brush", cursive, sans-serif;
  color: var(--primary-color);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.menu-header p {
  font-size: 1.1rem;
  color: var(--text-color);
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.menu-category {
  background: rgba(20, 20, 20, 0.85);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.menu-category h2 {
  color: var(--primary-color);
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #e0b36a;
  padding-bottom: 0.5rem;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px dashed #ddd;
  padding-bottom: 1rem;
}

.menu-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.menu-text h3 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.menu-text p {
  font-size: 0.95rem;
  color: var(--menu-color);
}

.price {
  font-weight: bold;
  color: #b43b1d;
  white-space: nowrap;
  font-size: 1.1rem;
}

.back-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  color: #f1b2b2;
  background-color: #c6592e98;
  border: #c6592e98 solid;
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-top: 2rem;
}
.back-btn:hover {
  background-color: transparent;
  color: white;
}

@media only screen and (min-width: 600px) {
  .menu-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1000px) {
  
  }
}
