@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mogra&family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mogra&family=Permanent+Marker&display=swap");

.Platzhalter {
  height: 300vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a1a1a;
  color: #ff;
  font-family: "Inter", sans-serif;
  --primary-color: #c65a2e;
}

.nav {
  height: 4rem;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 0 10px;
  /*alternativ
  overflow-wrap: break-word;
  hyphens: auto;*/
}
.nav-item {
  font-family: "Inter", sans-serif;
  color: white;
  text-decoration: none;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

.nav-item:hover {
  color: white;
  color: var(--primary-color);
  background-color: transparent;
}

.hero {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:
    linear-gradient(rgba(40, 18, 10, 0.35), rgba(40, 18, 10, 0.35)),
    url("MexFood.jpg") center/cover no-repeat;
}
.title {
  font-family: "Caveat Brush", cursive, sans-serif;
  color: #f3d2a4;
  line-height: 4rem;
  margin: 0 0 2rem 0;
  font-size: 4rem;
}

.subtitle {
  font-size: 20px;
  color: #f5e6d3;
}
.hero-action-button {
  /*width: fit-content;*/
  margin-top: 1rem;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  color: #f1b2b2;
  background-color: var(--primary-color);
  border: var(--primary-color) solid;
  border-radius: 15px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.hero-action-button:hover {
  background-color: transparent;
  color: white;
}

@media only screen and (min-width: 600px) {
  .title {
    font-size: 5rem;
    line-height: 5rem;
  }
  .subtitle {
    font-size: 30px;
  }
  .nav {
    font-size: 20px;
  }

  @media only screen and (min-width: 1000px) {
    .title {
      font-size: 7rem;
      line-height: 6rem;
    }
    .subtitle {
      font-size: 40px;
    }
    .nav {
      font-size: 1.5rem;
      gap: 4rem;
    }
  }
}
